---
- name: sysctl role
  tags:
    - sysctl
  block:

  # sysctl_config_files
  - when: sysctl_config_files | length > 0
    name: Copy config files
    loop: "{{ sysctl_config_files }}"
    become: true
    ansible.builtin.copy:
      src: "{{ item }}"
      dest: /etc/sysctl.d/
      owner: root
      group: root
      mode: u=rw,g=r,o=r