---
# NOTES
# -----
# https://madaidans-insecurities.github.io/guides/linux-hardening.html#kernel
# systemd-sysctl.service
# At boot, systemd-sysctl.service reads configuration files to configure sysctl kernel parameters.

- name: sysctl role
  tags:
    - sysctl
  block:

  # cp files
  - when: sysctl.files | length > 0
    name: Copy config files
    loop: "{{ sysctl.files }}"
    become: true
    ansible.builtin.copy:
      src: "{{ item }}"
      dest: /etc/sysctl.d/
      owner: root
      group: root
      mode: u=rw,g=r,o=r